# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
20_intermediate_files/By_State_Parquet/arcos_ak.parquet
20_intermediate_files/By_State_Parquet/arcos_al.parquet
20_intermediate_files/By_State_Parquet/arcos_ar.parquet
20_intermediate_files/By_State_Parquet/arcos_az.parquet
20_intermediate_files/By_State_Parquet/arcos_ca.parquet
20_intermediate_files/By_State_Parquet/arcos_co.parquet
20_intermediate_files/By_State_Parquet/arcos_ct.parquet
20_intermediate_files/By_State_Parquet/arcos_de.parquet
20_intermediate_files/By_State_Parquet/arcos_fl.parquet
20_intermediate_files/By_State_Parquet/arcos_ga.parquet
20_intermediate_files/By_State_Parquet/arcos_hi.parquet
20_intermediate_files/By_State_Parquet/arcos_ia.parquet
20_intermediate_files/By_State_Parquet/arcos_id.parquet
20_intermediate_files/By_State_Parquet/arcos_il.parquet
20_intermediate_files/By_State_Parquet/arcos_in.parquet
20_intermediate_files/By_State_Parquet/arcos_ks.parquet
20_intermediate_files/By_State_Parquet/arcos_ky.parquet
20_intermediate_files/By_State_Parquet/arcos_la.parquet
20_intermediate_files/By_State_Parquet/arcos_ma.parquet
20_intermediate_files/By_State_Parquet/arcos_md.parquet
20_intermediate_files/By_State_Parquet/arcos_me.parquet
20_intermediate_files/By_State_Parquet/arcos_mi.parquet
20_intermediate_files/By_State_Parquet/arcos_mn.parquet
20_intermediate_files/By_State_Parquet/arcos_mo.parquet
20_intermediate_files/By_State_Parquet/arcos_ms.parquet
20_intermediate_files/By_State_Parquet/arcos_mt.parquet
20_intermediate_files/By_State_Parquet/arcos_nc.parquet
20_intermediate_files/By_State_Parquet/arcos_nd.parquet
20_intermediate_files/By_State_Parquet/arcos_ne.parquet
20_intermediate_files/By_State_Parquet/arcos_nh.parquet
20_intermediate_files/By_State_Parquet/arcos_nj.parquet
20_intermediate_files/By_State_Parquet/arcos_nm.parquet
20_intermediate_files/By_State_Parquet/arcos_nv.parquet
20_intermediate_files/By_State_Parquet/arcos_ny.parquet
20_intermediate_files/By_State_Parquet/arcos_oh.parquet
20_intermediate_files/By_State_Parquet/arcos_ok.parquet
20_intermediate_files/By_State_Parquet/arcos_or.parquet
20_intermediate_files/By_State_Parquet/arcos_pa.parquet
20_intermediate_files/By_State_Parquet/arcos_ri.parquet
20_intermediate_files/By_State_Parquet/arcos_sc.parquet
20_intermediate_files/By_State_Parquet/arcos_sd.parquet
20_intermediate_files/By_State_Parquet/arcos_tn.parquet
20_intermediate_files/By_State_Parquet/arcos_tx.parquet
20_intermediate_files/By_State_Parquet/arcos_ut.parquet
20_intermediate_files/By_State_Parquet/arcos_va.parquet
20_intermediate_files/By_State_Parquet/arcos_vt.parquet
20_intermediate_files/By_State_Parquet/arcos_wa.parquet
20_intermediate_files/By_State_Parquet/arcos_wi.parquet
20_intermediate_files/By_State_Parquet/arcos_wv.parquet
20_intermediate_files/By_State_Parquet/arcos_wy.parquet
